{% extends 'base.html.twig' %}

{% block title %}
  {{title}}
{% endblock %}

{% block content %}

  <article class="site-wrap">
    <section>
      <h1>Introduktion</h1>
      <p>I denna rapport så kommer jag att gå igenom och analysera kodkvaliteten för detta projekt.</p>
      <a class="standard-link" href="https://github.com/fridavbg/report" target="_blank">Git repo med all kod finns här</a>
    </section>
    <section>
      {{ include('metrics/fourCs.md') }}
    </section>
    <section>
      {{ include('metrics/phpmetrics.md') }}
    </section>
    <section>
      {{ include('metrics/scrutinizer.md') }}
    </section>
    <section>
      {{ include('metrics/improvements.md') }}
    </section>
    <section>
      {{ include('metrics/discussion.md') }}
    </section>
  </article>
</section>
</section>
{% endblock %}
