{% extends "base.html.twig" %}

{% block title %}
  {{title}}
{% endblock %}

{% block content %}
  <div class="site-wrap">
    <h2>CardHand</h2>
    <div class="card-container">
      {% for card in cardHand %}
        <ul class="card">
          {% if card.getSuite() == 'H'%}
            <li class="red-suit">♥</li>
          {% elseif card.getSuite() == 'S'%}
            <li class="black-suit">♠</li>
          {% elseif card.getSuite() == 'C'%}
            <li class="black-suit">♣</li>
          {% else %}
            <li class="red-suit">♦</li>
          {% endif %}
          <li>{{ card.getValue() }}</li>
        </ul>
      {% endfor %}
    </div>
    <h3>Cards left in deck:
      {{ cards | length }}
    </h3>
    <h3>You have
      {{ cardHand | length }}
    </h3>
    {% if cards | length > 0 %}
      <form action="drawMultiple" method="POST">
        <fieldset>
          <div class="btn-container">
            <input type="number" id="cards" name="cards" min="1" max="{{ cards | length }}">
            <input type="submit" name="draw-process" value="Draw any number of cards" class="btn"/>
          </fieldset>
        </form>
      {% else %}
        <form action="/card/deck/shuffle" method="POST">
          <fieldset>
            <div class="btn-container">
              {{ include('flash-message.html.twig') }}
              <input type="submit" name="shuffle" value="Shuffle new deck" class="btn">
            {% endif %}
          </div>
        </fieldset>
      </form>

    
    {#
      <code class="code">
        <h2>TEST BOX</h2>
        {{dump(cards)}}
        {{dump(cardHand)}}
      </code>
    #}
    

      <div class="btn-container">
        <a href="{{path("card-home")}}" class="btn">
          Go back
        </a>
      </div>

    </div>
  {% endblock %}
