{% extends "base.html.twig" %}

{% block title %}
  {{title}}
{% endblock %}

{% block content %}
  <div class="site-wrap">
    {% if players is defined %}
      <div class="player-container">
        {% for player in players %}
          <div class="cardHand">
            <h2 class="player-title">Player
              {{loop.index}}
            </h2>
            {% for card in  player.getCurrentCardHand()%}
              <ul class="card">
                {% if card.getSuite() == 'H'%}
                  <li class="red-suit">♥</li>
                {% elseif card.getSuite() == 'S'%}
                  <li class="black-suit">♠</li>
                {% elseif card.getSuite() == 'C'%}
                  <li class="black-suit">♣</li>
                {% else %}
                  <li class="red-suit">♦</li>
                {% endif %}
                <li>{{ card.getValue() }}</li>
              </ul>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
      <h3>Cards left in deck:
        {{ cards | length }}
      </h3>
    {% else %}
      <p>No numbers was chosen</p>
    {% endif %}

    {#  
        <code class="code">
      <h2>TEST BOX</h2>
      {{dump(players)}}
    </code>
     #}

    <div class="btn-container">
      <a href="{{path("card-home")}}" class="btn">
        Go back
      </a>
    </div>

  </div>
{% endblock %}