{% extends "base.html.twig" %}

{% block title %}{{ title }}
{% endblock %}

{% block content %}
  <div class="site-wrap">
    <h1>{{ title }}</h1>
    <div class="site-wrap">
      <h2>ScoreBoard</h2>
      <h3>Player: 0</h3>
      <h3>Dealer: 0</h3>
    </div>
    <form action="draw">
      <fieldset>
        <h2>Player</h2>
        <h3>Cardhand total: 0</h3>
        <p class="btn-container">
          {% if cards | length <= 52 %}
            <input type="submit" name="game-draw" value="Draw a card" class="btn">
          </p>
        {% elseif cardHand | length >= 1 %}
          <p>
            <input type="submit" value="Stop" class="standard-link">
          </p>
        </fieldset>
      {% endif %}
    </form>

    <form action="draw">
      <fieldset>
        <h2>Dealer</h2>
        <h3>Cardhand total: 0</h3>
        <p class="btn-container">
          {% if cards | length <= 52 %}
            <input type="submit" name="game-draw" value="Draw a card" class="btn">
          </p>
        {% elseif cardHand | length >= 1 %}
          <p>
            <input type="submit" value="Stop" class="standard-link">
          </p>
        </fieldset>
      {% endif %}
    </form>
  </div>

  {# #}
  <code class="code">
    <h2>TEST BOX</h2>
    {{dump(cardHand)}}
    {{dump(calculatedCardHand)}}
    {{dump(twentyOne)}}
  </code>

  <div class="btn-container">
    <a href="{{path("game-home")}}" class="btn">
      Go back to game rules
    </a>
  </div>
{% endblock %}