{% extends "base.html.twig" %}

{% block title %}{{ title }}
{% endblock %}

{% block content %}
  <div class="site-wrap">
    <h2>Cards in deck:</h2>
    <h3>
      {{ cards | length }}</h3>
    <h2>ScoreBoard</h2>
    <h3>{{player}}:
      {{dealerWins}}</h3>
    <h3>{{dealer}}:
      {{playerWins}}</h3>
  </div>

  <div class="site-wrap">
    <h1>{{ title }}</h1>

    {#
    action="{{path("draw-process")}}"
     #}

    <form action="{{path("draw-process")}}" method="post" class="player-form">
      <h2>{{player}}</h2>
      <h3>Player Cardhand total: {{playerPoints}}</h3>
      {% if playerHand | length > 0 %}
        <div class="btn-container">
          <input id="player" type="submit" name="player" value="Draw a card" class="btn">
          <input type="submit" name="player-stop" value="Player Stop" class="standard-link">
        </div>
        <div class="card-container">
          {% for key, card in playerHand %}
              <ul class="card">
                {% if card.getSuite() == 'H'%}
                  <li class="red-suit">♥</li>
                {% elseif card.getSuite() == 'S'%}
                  <li class="black-suit">♠</li>
                {% elseif card.getSuite() == 'C'%}
                  <li class="black-suit">♣</li>
                {% else %}
                  <li class="red-suit">♦</li>
                {% endif %}
                <li>{{ card.getValue() }}</li>
              </ul>
          {% endfor %}
        </div>
      {% else %}
        <div class="btn-container">
          <input id="player" type="submit" name="player" value="Draw a card" class="btn">
        </div>
      {% endif %}
    </form>

    {#
    action="{{path("draw-process")}}"
     #}
    <form action="{{path("draw-process")}}" method="post" class="dealer-form">
      <h2>{{dealer}}</h2>
      <h3>Dealer Cardhand total: {{dealerPoints}}</h3>
      {% if dealerHand | length > 0 %}
        <div class="btn-container">
          <input id="dealer" type="submit" name="dealer" value="Draw a card" class="btn">
          <input type="submit" name="dealer-stop" value="Dealer Stop" class="standard-link">
        </div>
        <div class="card-container">
          {% for key, card in dealerHand %}
              <ul class="card">
                {% if card.getSuite() == 'H'%}
                  <li class="red-suit">♥</li>
                {% elseif card.getSuite() == 'S'%}
                  <li class="black-suit">♠</li>
                {% elseif card.getSuite() == 'C'%}
                  <li class="black-suit">♣</li>
                {% else %}
                  <li class="red-suit">♦</li>
                {% endif %}
                <li>{{ card.getValue() }}</li>
              </ul>
          {% endfor %}
        </div>
      {% else %}
        <div class="btn-container">
          <input id="dealer" type="submit" name="dealer" value="Draw a card" class="btn">
        </div>
      {% endif %}
    </form>
  </div>

  {#  #}
    <code class="code">
    <h2>TEST BOX</h2>
    {{dump(playerHand)}}
    {{dump(playerPoints)}}
    {{dump(dealerHand)}}
    {{dump(dealerPoints)}}
  </code>

  {#
href="{{path("game-home")}}"
#}
  <div class="btn-container">
    <a href="{{path("game-home")}}" class="btn">
      Go back to game rules
    </a>
      <a href="{{path("game-test")}}" class="btn">
      Test
    </a>
  </div>
{% endblock %}