{% extends "base.html.twig" %}

{% block title %}{{ title }}
{% endblock %}

{% block content %}
  {# #}

  <code class="code">
    <h2>TEST BOX</h2>
    {{dump(cards)}}
    {{dump(calculatedCardHand)}}
    {{dump(cardHand)}}
    {{dump(twentyOne)}}
  </code>

  <div class="btn-container">
    <a href="{{path("game-home")}}" class="btn">
      Go back to game rules
    </a>
  </div>
{% endblock %}