<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    {% block stylesheets %}
      <link rel="icon" href="favicon.ico">
      <link rel="stylesheet" href="{{ asset('css/project.css') }}"/>
      {{ encore_entry_link_tags('app')}}
    {% endblock %}
  </head>
  <body>
    <div>
      <nav class="nav-bar" id="nav-bar">
        <ul>
          {# <li>
            <a href="{{path('home')}}">Report</a>
          </li> #}
          <li>
            <a href="{{path('project')}}">Project</a>
          </li>
          <li>
            <a href="{{path('project-about')}}">About</a>
          </li>
          {# <li>
            <a href="{{path('project-test')}}">Test</a>
          </li> #}
        </ul>
      </nav>
      <header>
        <h1>14 HAV OCH MARINA RESURSER</h1>
      </header>
    </div>

    {% block content %}
      Default content
    {% endblock %}

    <div class="sitefooter">
      <p>Skapad utav Frida i BTHs MVC kurs</p>
    </div>
    {% block javascript %}
      {{ encore_entry_script_tags('app')}}
    {% endblock %}
  </body>
</html>