{% extends 'projectBase.html.twig' %}

{% block title %}
  {{title}}
{% endblock %}

{% block content %}
  <div class="about-wrapper">
    <div class="btn-container">
      <a class="btn" href="{{path('project_register_form')}}">
        Registrera ny user
      </a>
    </div>
    <h1>
      Users
    </h1>
    <table class="users-table">
      {% if allUsers %}
        <thead>
          <tr>
            <th>User ID</th>
            <th>Username</th>
            <th>Redigera</th>
            <th>Ta bort</th>
          </tr>
        </thead>
        {% for singleUser in allUsers %}
          <tbody>
            <tr>
              <td>{{singleUser.getId()}}</td>
              <td>{{singleUser.getUserIdentifier()}}</td>
              <td>
                <a class="standard-link" href="#">
                  Radera
                </a>
              </td>
              <td>
                <a class="standard-link" href="/">
                  Ändra profil {{singleUser.getUserIdentifier()}}
                </a>
              </td>
            </tr>
          </tbody>
        {% endfor %}
      </table>
    {% endif %}
  </div>
{% endblock %}
