{% extends 'base.html.twig' %}

{% block title %}Library{% endblock %}

{% block content %}
  <div class="site-wrap">
    <h1>Add a book</h1>
    {{ form_start(form, {'method': 'POST'}) }}
      {{ form_row(form.title) }}
      {{ form_row(form.author) }}
      {{ form_row(form.isbn) }}
      {{ form_row(form.description) }}
      {{ form_row(form.image) }}
      {{ form_row(form.save,{ 'attr' : { 'class' : 'btn' }}) }}
    {{ form_end(form) }}
  </div>
{% endblock %}