{% extends 'base.html.twig' %}

{% block title %}Library{% endblock %}

{% block content %}
  <div class="site-wrap">
    <h1>Edit a book</h1>
    {{ form_start(form, {'method': 'PUT'}) }}
    {{ form_row(form.title) }}
    <br/>
    {{ form_row(form.author) }}
    <br/>
    {{ form_row(form.isbn) }}
    <br/>
    {{ form_row(form.description) }}
    <br/>
    {{ form_row(form.image) }}
    <br/>
    {{ form_row(form.save, { 'attr' : { 'class' : 'btn' }}) }}
    {{ form_end(form) }}
  </div>
{% endblock %}
