{% extends 'base.html.twig' %}

{% block title %}Library{% endblock %}

{% block content %}
  <div class="site-wrap">
    <h1>Library</h1>
    {% if books %}
      {% for book in books %}
        <div class="book-container">
          <p class="title">
            {{ book.title }}
          </p>
          <p class="author">
            Author:
            {{ book.author }}
          </p>
          <p class="isbn">
            {% if book.isbn %}
              ISBN:
              {{ book.isbn }}
            {% else %}
              No ISBN found
            {% endif %}
          </p>
          <p class="description">
            {% if book.description %}
              Description:
              {{ book.description }}
            {% else %}
              No description found
            {% endif %}
          </p>
          <img class="book-image" src="{{asset('img/books/')}}/{{book.image}}" alt="{{ book.title }}"/>
          <div class="btns">
            <a class="btn" href="{{path('book_by_id', {id: book.id})}}">View</a>
            <a class="btn" href="{{path('update_book_form', {id:book.id})}}">Edit id
              {{book.id}}</a>
            <a class="btn" href="{{path('book_delete_by_id', {id: book.id})}}">Delete</a>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <p>At the moment there are no books in the database</p>
      <a href="{{path('create_book_form')}}" class="btn">Add a book</a>
    {% endif %}
  </div>

  <a class="btn" href="{{path('app_library')}}">Go Back</a>
  {#
  <code>
    <h2>TEST BOX</h2>
    {{dump(books)}}
  </code>
 #}
{% endblock %}
