{% extends 'base.html.twig' %}

{% block title %}Library{% endblock %}

{% block content %}
  <div class="site-wrap">
    <h1>{{ book.title }}</h1>
      <div class="book-container">
        <p class="author">Author:
          {{ book.author }}</p>
        <p class="isbn">ISBN:
          {{ book.isbn }}</p>
        <p class="description">Description:
          {{ book.description }}</p>
        <image class="book-image" image="image" alt="{{ book.title }}" src="{{book.image}}"/>
        <div class="btns">
          <a class="btn" href="{{path('update_book_form', {id:book.id})}}">Edit id {{book.id}}</a>
          <a class="btn" href="{{path('book_delete_by_id', {id: book.id})}}">Delete</a>
        </div>
      </div>
  </div>
  <a class="btn" href="{{path("app_library")}}">Go Back</a>
  {#
  <code>
    <h2>TEST BOX</h2>
    {{dump(books)}}
  </code>
 #}
{% endblock %}
