{% extends 'projectBase.html.twig' %}

{% block title %}
  {{title}}
{% endblock %}

{% block content %}
  <div class="project-wrapper">
    <div class="text-container">
      <h1>
        Hav och marina resurser
      </h1>
      <p>
        Jordens hav – deras temperatur, kemi, strömmar och liv – är en stor del utav vår planets globala system som gör jorden beboelig för mänskligheten, och andra varelser. Haven täcker 70 procent av vår planet och över tre miljarder människor är beroende av den marina och kustnära biologiska mångfalden för sin försörjning. Hur vi tar hand om våra hav är avgörande för att balansera effekterna av klimatförändringarna.
      </p>
      <img src="{{asset('img/project/cod.jpg')}}" width="500" alt="Torsk stim" class="cod-img"/>
      <p>
        Enligt den statistik som jag har hittat så hamnar ungefär åtta miljoner ton plast i havet varje år. Åtta miljoner plast låter ju som en hel del, men frågan går ju då till hur mycket plast som det produceras årligen. Följande diagram visar en tabell över hur mycket plast som producerats ifrån 1950 fram till 2015. Plast produktionen har sedan 1950 bara ökat och 2015 så låg produktionen på 381 000 000 ton plast.
      </p>
      <div class="chart-wrapper">
        <h4>Plast producton i ton ifrån 2015</h4>
        {{ render_chart(plasticProdChart, {'class': 'chart'}) }}
      </div>
      <h4>Hur mycket plast har producerats sedan 2015?
      </h4>
      <p>
        Enligt Arabella Ruiz, senior researcher för
        <a class="standard-link" href="https://theroundup.org/">The RoundUp</a>
        så kommer plastproduktionen att forsätta att öka. 2019 så producerades 368 miljoner metric ton, men 2020 så minskade det på grund utav Corona situationen. Dock enligt
        <a class="standard-link" href="https://plasticseurope.org/">PlasticsEurope (PEMRG)</a>
        så förväntas dock produktionen att fortsatt öka år för år.
      </p>
      <img src="{{asset('img/project/Total-Annual-Global-Plastic-Production-Graph.png')}}" width="500" alt="Graph showing total annual global plastic production" class="center-img"/>

      <h4>Finns det någon skillnad på plast och plast?</h4>
      <p>Nedstående diagram visar vilka sektorer som producerade mest plast under år 2015. Där packningssektorn har den största andelen på 42 procent. Då nerbrytningstiden för olika sorters plast kan variera ganska kraftigt så finns det en stor anledning att därför ha koll olika sektorers produktion samt plastens största användningsområde. Man kan ju då ställa sig frågan om det finns nått annat bättre mer miljövänligt material som kanske kan bytas ut i respektive sektor.
      </p>
      <div class="chart-wrapper">
        <h4>Plast produktion i ton år 2015 per sektor</h4>
        {{ render_chart(sectorChart, {'class': 'chart'}) }}
      </div>
      <h4>Hur vill vi att framtiden skall se ut?</h4>
      <p></p>
      <h4>Plasthantering världen över</h4>
      <div class="chart-wrapper">
        <h4>Sannolikhet utav missköt plast hantering i länder år 2019</h4>
        {{ render_chart(mismaPlasticChart, {'class': 'chart'}) }}
      </div>
    </div>
    {{render(controller('App\\Controller\\SecurityController::login'))}}
  </div>
</div>
</div>
</div>
{% endblock %}
